@font-face {
    font-family: "league_spartan" ;
    src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Black.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Bold.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-ExtraBold.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Light.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-ExtraLight.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Medium.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Regular.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-SemiBold.ttf");
    src: url("../assets/fonts/static/LeagueSpartan-Thin.ttf");
}

$font-1: "league_spartan", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-1;
}